.menu-button {
    -fx-background-color:
            linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
            linear-gradient(to bottom, #5D4037, #3E2723);

    -fx-background-radius: 15;
    -fx-background-insets: 0, 1;
    -fx-border-color: #FFD700;
    -fx-border-width: 2px;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 215, 0, 0.6), 10, 0, 0, 0);

    -fx-text-fill: #FFD700;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color:
            linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.1) 100%),
            linear-gradient(to bottom, #6D4C41, #4E342E); /* Màu gỗ sáng hơn chút */
    -fx-effect: dropshadow(three-pass-box, #FFD700, 15, 0.3, 0, 0); /* Phát sáng mạnh hơn */
}

.menu-button:pressed {
    -fx-background-color: linear-gradient(to bottom, #3E2723, #5D4037);
    -fx-translate-y: 2;
}